/* ===========common CSS============ */

body{
    margin: 0px;
    font-size: 16px;
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif; */
}
.container{
    margin: 50px 100px;

}
/* ===========Header Section============ */


#main_header{
display: flex;
align-items: center;

};
#header_l #header_r{
    width: 50%;
    
}

.images{
    width: 70%;
    height: 70%;
    display: block;
    
} 

#header_r img{
    margin-left: 100px;
}


.tittle_h1{
    font-family: 'Ubuntu', sans-serif;
    line-height: 20px;
    font-size: 40px;
    color: #2F3C4F;
}

.tittle_h1 span{
    color: #FCB040;
}
.top_header{
    display: flex;
    align-items: center;
}
.border_box{
    background-color: #DE703B;
    height: 85px;
    width: 3px;
    border-radius: 1.5px;
    margin-right: 5px;
}

.description_p{
    font-size: 20px;
    color: #303030;
}
.first_btn{
    background-color: #DE703B;
    height: 45PX;
    width: 160PX;
    border: none;
    border-radius: 10PX;
    font-size: 20PX;
    color: white;
}

/* ===========Middle Section 1============ */

#middle_sec1 h1{
    text-align: center;
}
#middle_sec1 img{
    display: block;
    width: 150px;
    height: 150px;
}

#sec_1_box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittle_h2{
    color: 303030;
    font-size: 25px ;
    font-family: 'Roboto', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.tittle_h3{
    color: 303030;
    font-size: 20px ;
    font-family: 'Roboto', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.sec_1_inner_a, .sec_1_inner_b, .sec_1_inner_c{
    width: 30%;
    margin: 20px 2.5%;
    padding: 20px 20px;
    border-radius: 20px;
}
.sec_1_inner_a{
    background-color: #A2EAE2;
}
.sec_1_inner_b{
    background-color: #FFFCCA;
}
.sec_1_inner_c{
    background-color: #EDA1C1;
}

/* ===========Middle Section 2 =========== */
#middle_sec2{
    
    margin: 0px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.m_sec2_pic1{
    
    margin-top: 55px;
    margin-left: 20px;
    height: 20%;
    width: 85%;
    display: block;
    
}
.m_sec2_pic1 img{
    top: 0px;
    right: 0px;
    
}

.m_sec2_pic2{
    height: 390px;
    width: 375px;
}

.Text{
margin-right: 100px;
margin-left: 50px;
text-align: justify;
}

.second_btn{
    background-color: #DE703B;
    height: 45PX;
    width: 230PX;
    border: none;
    border-radius: 10PX;
    font-size: 20PX;
    color: white;
}

/* ===========Middle Section 3 =========== */

#middle_sec3{
    
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ===========Middle Section 4 =========== */
/* hr{
    color: #060606;
    height: 3px;
    width: 100%;
} */
.sec_4_box{
    
    display: flex;
}

.sec_4_l-box{
    margin-top: 50px;
    margin-right: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec_4_l-box input{
    
    margin: 20px 10px;
    padding: 5px 5px;
    
    
}
.sec_4_l-box textarea{
    margin: 10px 10px;
}


.sec_4_r-box{
    width: 50%;
}
.scale{
    background-color: #ddd;
    border-radius: 10px;
}

.skills{

   
}

.scale_common{
    border-radius: 10px 10px;
    color: #fff;
    text-align: right;
}

.scale_h{ 
    width: 90%; background-color: #6dbdb3;
    
}
.scale_c{ 
    width: 70%; background-color: #d8d593;
    
}
.scale_j{ 
    width: 50%; background-color: #cf789c;
   
}
.scale_r{ 
    width: 50%; background-color: #6dbdb3;
   
}
.scale_n{ 
    width: 50%; background-color: #d8d593;
   
}


/* ===========Footer Section =========== */

#footer_sec{
    padding: 20px 0px;
    background: #000;
    text-align: center;
    color: #fff;
}
#footer_sec h2 {
    font-style: italic;
}



#footer_sec span{
    
    color: #FCB040;
}
