/* common CSS */
body{
    margin: 0px 100px;
    font-size: 16px;
}

#main_header{
display: flex;
align-items: center;

};
#header_l #header_r{
    width: 50%;
    
}

.images{
    width: 70%;
    height: 70%;
    display: block;
    margin-left: 100px;
    
} 

.tittle_h1{
    font-family: 'Ubuntu', sans-serif;
    line-height: 10px;
    font-size: 40px;
    color: #2F3C4F;
}
.tittle_h1 span{
    color: #FCB040;
}
.description_p{
    font-size: 20px;
    color: #303030;
}
.first_btn{
    background-color: #DE703B;
    height: 45PX;
    width: 160PX;
    border: none;
    border-radius: 10PX;
    font-size: 20PX;
    color: white;
}